# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
data={'Alabama': 'Montgomery',
     'Arizona' : 'Phoenix',
     'Georgia' : 'Atlanta',
     'Kentucky' : 'Frankfort',
     'Ohio' : 'Salem'}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [4]:
data['Alabama'] #access dictonary values by its key name

'Montgomery'

In [5]:
data['Ohio']

'Salem'

In [6]:
data['Louisiana']

KeyError: 'Louisiana'

In [7]:
Days={1: 'Monday',
     2: 'Tuesday',
     4: ('Thursday', 'Friday'),
     5: ['Saturday', 'Holiday']
     }

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [8]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [9]:
Days[4][0]

'Thursday'

In [10]:
Days[5][1]

'Holiday'

In [11]:
Days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [12]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [13]:
Days[5][0]='Holiday'
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [14]:
Days[1]='Holiday'
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [15]:
Days[3]='Wednesday'
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [16]:
Days[6]=['XYZ', 'ABC']
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday',
 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [17]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [18]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [19]:
# Access an element using .get method
data.get('Alabama')

'Montgomery'

In [20]:
data.get('Ohio')

'Salem'

In [21]:
print(data.get('Louisiana'))

None

In [22]:
# Update a dictonary element

In [23]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [24]:
data.update({'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [25]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [26]:
del data['Alabama']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [27]:
del data['Ohio']

In [28]:
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge'}

In [29]:
data.pop('Arizona')
data

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [30]:
data.pop('Kentucky')

'Louisville'

In [31]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [33]:
len(data)

2

In [34]:
data.keys() # The keys from the dictonary

dict_keys(['Georgia', 'Louisiana'])

In [35]:
data.values() # Values from the dictonary

dict_values(['Atlanta', 'Baton Rouge'])

In [36]:
data.items()

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [37]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [40]:
for key in data.keys():
    print(type(key))
    print(key)

<class 'str'>
Georgia
<class 'str'>
Louisiana

In [41]:
for value in data.values():
    print(value)

Atlanta
Baton Rouge

In [43]:
for items in data.items():
    print(items)
    print(type(items))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [46]:
for state, capital in data.items():
    print(type(state), type(capital))
    print(state,capital)
    print("State name:", state)
    print("Capital name:", capital)

<class 'str'> <class 'str'>
Georgia Atlanta
State name: Georgia
Capital name: Atlanta
<class 'str'> <class 'str'>
Louisiana Baton Rouge
State name: Louisiana
Capital name: Baton Rouge

### Convert dictionary to lists using `list()` function

In [47]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [48]:
State=list(data.keys())
print(State)
print(type(State))

['Georgia', 'Louisiana']
<class 'list'>

In [49]:
Capital=tuple(data.values())
print(Capital)
print(type(Capital))

('Atlanta', 'Baton Rouge')
<class 'tuple'>

### A List in a Dictionary

In [51]:
favourite_languages={
    'Jen': ['Python', 'Ruby'],
    'Sarah': ['C'],
    'Edward': ['Ruby', 'Java'],
    'Phil': ['Python', 'Haskell']
}
print(favourite_languages)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [52]:
favourite_languages['Sarah']

['C']

In [59]:
for name, languages in favourite_languages.items():
    print("\n" + name.upper() + " favourite languages are: ")
    
    for i in languages:
        print("\t\t\t"+i.upper())

JEN favourite languages are:
			PYTHON
			RUBY

SARAH favourite languages are:
			C

EDWARD favourite languages are:
			RUBY
			JAVA

PHIL favourite languages are:
			PYTHON
			HASKELL

###  A Dictionary in a Dictionary

In [1]:
users = {
'einstein':{
'first': 'albert',
'last' : 'einstein',
'location' : 'princeton',
},
'mcurie' : {
'first': 'marie',
'last' : 'curie',
'location' : 'paris',
},
}

In [2]:
users

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [13]:
for username, user_info in users.items():
    print("Username: ", username)
    #print("User Info", user_info)
    full_name= user_info['first'] + " " +user_info['last']
    location=user_info['location']
    print("\t Full name: ",full_name.title())
    print("\t Location: ",location.title())

Username:  einstein
	 Full name:  Albert Einstein
	 Location:  Princeton
Username:  mcurie
	 Full name:  Marie Curie
	 Location:  Paris